.appRouterRoot {
  position: relative;
  min-height: 100dvh;
  background: var(--bg);
}

.appRouterContent {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background:
    radial-gradient(circle at 80% 10%, rgb(15 25 33), transparent 30%),
    var(--bg);
}
